---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>R | KAGI 鍵</title>
  <meta name="description" content="Roselia 「R」 Guitar Tab.">
  {% include head.html %}
</head>
<body class="song">
  {% include header.html %}
  <div class="container">
    <div class="main roselia">
      <div class="title">R</div>
      <div class="jacket"><img src="https://i.bandori.party/u/s/149R-xIRygO.png" alt="R"></div>
      <div class="song-writer">
        <div>Lyrics: Oda Asuka (Elements Garden)</div>
        <div>Composer: Agematsu Noriyasu (Elements Garden)</div>
        <div>Arrangement: Fujinaga Ryutarou (Elements Garden)</div>
      </div>
      <div class="download">
        <div>
          <table class="download-btn">
            <tr>
              <td><div class="download-text">Download</div></td>
              <td><div id="arrow" class="arrow"><i class="fas fa-caret-down"></i></div></td>
            </tr>
          </table>
        </div>
        <div>
          <table id="download-list" class="download-list">
            <tr>
              <td>Guitar Pro 7 or newer (.gp)</td>
              <td><a href="https://ouo.io/r8SJ0f" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>Guitar Pro 6 (.gpx)</td>
              <td><a href="https://ouo.io/lLZuNV1" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% include sidebar.html %}
  </div>
  <img id="character" class="character bandori" src="#">
  <script>
    var img = [
      "https://i.bandori.party/u/images/Yukina-Minato-Power-chibi.Y6xy5f.png",
      "https://i.bandori.party/u/images/Sayo-Hikawa-Pure-chibi.Dv3ioX.png",
      "https://i.bandori.party/u/images/Lisa-Imai-Cool-chibi.0C0MQS.png",
      "https://i.bandori.party/u/images/Ako-Udagawa-Cool-chibi.22vef6.png",
      "https://i.bandori.party/u/images/Rinko-Shirokane-Happy-chibi.iDNpOO.png"
    ]
  </script>
  {% include footer.html %}
</body>
</html>