---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ | KAGI 鍵</title>
  <meta name="description" content="Frequently Asked Question of KAGI 鍵. Please consider to read this before asking a question.">
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
    <header>
      <a href="/">KAGI 鍵</a>
    </header>
    <div class="content">
      <div class="main">
        <div class="area">
          <h2>FAQ</h2>
          <h3>What is the difference between GP and GPX File?</h3>
          <p>GP is the newest file from Guitar Pro 7. GPX is the older file from Guitar Pro 6.</p>
          <h3>How to open GP and GPX File?</h3>
          <p>There are many software to open the file. But I only know these software.</p>
          <p>PC</p>
          <ul class="faq">
            <li><a href="https://www.guitar-pro.com/" target="_blank">Guitar Pro</a></li>
            <li><a href="http://www.tuxguitar.com.ar/" target="_blank">TuxGuitar</a></li>
          </ul>
          <p>Android</p>
          <ul class="faq">
            <li><a href="https://play.google.com/store/apps/details?id=com.arobasmusic.guitarpro" target="_blank">Guitar Pro</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=org.herac.tuxguitar.android.activity.admob" target="_blank">TuxGuitar</a></li>
          </ul>
          <p>iOS</p>
          <ul class="faq">
            <li><a href="https://apps.apple.com/app/guitar-pro/id400666114" target="_blank">Guitar Pro</a></li>
          </ul>
          <h3>How to download the file?</h3>
          <p>Just choose between <strong>GP</strong> or <strong>GPX</strong> and click it. It will open a new window. Click <strong>I'M A HUMAN</strong>. Wait for 3 seconds then click <strong>GET LINK</strong>.</p>
          <h3>Why don't you upload GP5 file?</h3>
          <p>GP5 is an old file of  guitar pro. I made the tab using Guitar Pro v7.5. When I export the tab to GP5 the tab will broken because it can't read the new feature of Guitar Pro.</p>
          <h3>Is this tab 100% accurate?</h3>
          <p>Of course not. But I will do my best to make it. If you want 100% accurate, just contact the composer or the arranger of the song.</p>
        </div>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>