---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strawberry Trapper | KAGI 鍵</title>
  <meta name="description" content="Guilty Kiss「Strawberry Trapper」guitar tab.">
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
		<header>
			<a href=".."><img src="/assets/images/Guilty-Kiss.png" class="responsive" style="max-width: 150px;"></a>
		</header>
		<div class="content">
      <div class="main guilty-kiss">
        <div class="area">
          <div class="song-title"><a href=".">Strawberry Trapper</a></div>
          <div class="song-cover"><img src="https://i.idol.st/u/song/50Strawberry-Trapper-sXq6H1.jpg" class="responsive" style="max-width: 200px;"></div>
          <div class="songwriter">
            <div>Lyrics: Aki Hata</div>
            <div>Composer: Masashi Kanasaki</div>
            <div>Arrangement: Masashi Kanasaki</div>
          </div>
          <div class="download guilty-kiss">
            <button class="downloadbtn" onclick="Download()">Download</button>
            <div id="DownloadContent" class="content">
              <a href="https://ouo.io/mBhGiu" target="_blank">GP</a>
              <a href="https://ouo.io/A3rJxF" target="_blank">GPX</a>
            </div>
          </div>
          <p>Please conside to read the <a href="/faq">FAQ</a> before asking a question.</p>
          <blockquote>EDIT FOR YOURSELF IS OK, BUT DON'T REUPLOAD IT ANYWHERE, PLEASE APPRECIATE MY EFFORT!</blockquote>
        </div>
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
          this.page.url = 'https://kagi-music.github.io/love_love/guilty_kiss/strawberry_trapper/index.html';
          this.page.identifier = 'guiltykiss_strawberrytrapper';
          };
            
          (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://kagi-ongaku.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      {% include sidebar.html %}
		</div>
	</div>
  {% include footer.html %}
  <div id="character" class="character"></div>
  <script>
    var img = [
      "https://i.schoolido.lu/cards/transparent/1600idolizedTransparent.png",
      "https://i.schoolido.lu/cards/transparent/1601idolizedTransparent.png",
      "https://i.schoolido.lu/cards/transparent/1602idolizedTransparent.png",
    ]

    var chara = document.getElementById("character");

    function Character(num) {
      var num = Math.floor(Math.random() * 3);
      chara.style.backgroundImage = 'url("' + img[num] +'")';
      chara.style.backgroundSize = 'auto 250px';
      chara.style.backgroundAttachment = 'fixed';
      chara.style.backgroundRepeat = 'no-repeat';
      chara.style.backgroundPosition = '105% 100%';
    }

    Character();
  </script>
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>