---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strawberry Trapper | KAGI 鍵</title>
  {% include head.html %}
</head>
<body class="song">
  {% include header.html %}
  <div class="container">
    <div class="main guilty-kiss">
      <div class="title">Strawberry Trapper</div>
      <div class="jacket"><img src="https://i.idol.st/u/song/50Strawberry-Trapper-sXq6H1.jpg" alt="Strawberry Trapper"></div>
      <div class="song-writer">
        <div class="en">
          <div>Lyrics: Aki Hata</div>
          <div>Composer: Masashi Kanasaki</div>
          <div>Arrangement: Masashi Kanasaki</div>
        </div>
        <div class="jp">
          <div>作詞 : 畑亜貴</div>
          <div>作曲 : 金崎真士</div>
          <div>編曲 : 金崎真士</div>
        </div>
      </div>
      <div class="download">
        <div>
          <table class="download-btn">
            <tr>
              <td><div class="download-text">Download</div></td>
              <td><div id="arrow" class="arrow"><i class="fas fa-caret-down"></i></div></td>
            </tr>
          </table>
        </div>
        <div>
          <table id="download-list" class="download-list">
            <tr>
              <td>Guitar Pro 7 or newer (.gp)</td>
              <td><a href="https://ouo.io/mBhGiu" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>Guitar Pro 6 (.gpx)</td>
              <td><a href="https://ouo.io/A3rJxF" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
        this.page.url = 'https://kagi-music.github.io/love_live/guilty_kiss/strawberry_trapper';
        this.page.identifier = 'guilty_kiss_strawberry_trapper';
        };
      
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://kagi-music.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {% include sidebar.html %}
  </div>
  <img id="character" class="character love-live" src="#">
  <script>
    var img = [
      "https://i.schoolido.lu/cards/transparent/1600idolizedTransparent.png",
      "https://i.schoolido.lu/cards/transparent/1601idolizedTransparent.png",
      "https://i.schoolido.lu/cards/transparent/1602idolizedTransparent.png"
    ]
  </script>
  {% include footer.html %}
</body>
</html>