---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Support | KAGI 鍵</title>
  <meta name="description" content="Read this if you want to support me.">
  {% include head.html }
</head>
<body>
  {% include header.html %}
  <div class="container">
    <div class="main">
      <div class="title">Support</div>
      For now just whitelist this website from adblock, share to someone, or just download the tab. I will open donation when I deserve it. Thank you for visiting my own simple website.
    </div>
    {% include sidebar.html %}
  </div>
  {% include footer.html %}
</body>
</html>