---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maze Town | KAGI 鍵</title>
  {% include head.html %}
</head>
<body class="song">
  {% include header.html %}
  <div class="container">
    <div class="main azuna">
      <div class="title">Maze Town</div>
      <div class="jacket"><img src="https://i.idol.st/u/song/320Maze-Town-Moonjd.png" alt="Maze Town"></div>
      <div class="song-writer">
        <div>Lyrics: Morito Yonezawa / Ayato Fujiwara</div>
        <div>Composer: Morito Yonezawa / Ayato Fujiwara / Ryosuke Saito / PASSiON KiNG</div>
        <div>Arrangement: Ryosuke Saito / Ayato Fujiwara / PASSiON KiNG</div>
      </div>
      <div class="download">
        <div>
          <table class="download-btn">
            <tr>
              <td><div class="download-text">Download</div></td>
              <td><div id="arrow" class="arrow"><i class="fas fa-caret-down"></i></div></td>
            </tr>
          </table>
        </div>
        <div>
          <table id="download-list" class="download-list">
            <tr>
              <td>Guitar Pro 7 or newer (.gp)</td>
              <td><a href="https://ouo.io/PBjQSmK" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>Guitar Pro 6 (.gpx)</td>
              <td><a href="https://ouo.io/l2SmCU" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
        this.page.url = 'https://kagi-music.github.io/love_live/azuna/maze_town';
        this.page.identifier = 'azuna_maze_town';
        };
      
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://kagi-music.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {% include sidebar.html %}
  </div>
  <img id="character" class="character love-live" src="#">
  <script>
    var img = [
      "https://i.schoolido.lu/cards/transparent/1472Transparent.png",
      "https://i.schoolido.lu/cards/transparent/1514Transparent.png",
      "https://i.schoolido.lu/cards/transparent/1474Transparent.png"
    ]
  </script>
  {% include footer.html %}
</body>
</html>