---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KAGI 鍵</title>
  <meta name="description" content="A little piece of BanG Dream! and Love Live! song guitar tab is here.">
  <meta name="google-site-verification" content="o5BCRQkf75VZSnGjs2uhVl-1--tx1t6EoivUf2QBgdg">
  <meta name="keywords" content="BanG Dream!, バンドリ!, Poppin'Party, Afterglow, Pastel Palettes, Roselia, Hello Happy World!, Morfonica, RAISE A SUILEN, Love Live!, ラブライブ, µ's, Aqours, 虹ヶ咲学園スクールアイドル同好会, 二ジガク, Nijigasaki High School Idol Club, guitar, tab, guitar tab">
  {% include head.html %}
</head>
<body class="homepage">
  {% include header.html %}
  <div class="latest-update-container">
    <div class="latest-update">
      <h2>Latest Update</h2>
      <div class="card poppin-party">
        <div class="title-container">
          <div class="title">
            <div class="en">Hikaru Nara</div>
            <div class="jp">光るなら</div>
          </div>
        </div>
        <div class="thumbnail">
          <img src="https://i.bandori.party/u/s/19Hikaru-Nara-NC49n8.png" alt="光るなら">
        </div>
        <div class="artist-container">
          <div class="artist">Poppin'Party</div>
        </div>
        <div class="overlay">
          <a href="/bang_dream/poppin_party/hikaru_nara"><button class="poppin-party">View</button></a>
        </div>
      </div>
      <div class="card azuna">
        <div class="title-container">
          <div class="title">Maze Town</div>
        </div>
        <div class="thumbnail">
          <img src="https://i.idol.st/u/song/320Maze-Town-Moonjd.png" alt="Maze Town">
        </div>
        <div class="artist-container">
          <div class="artist">A・ZU・NA</div>
        </div>
        <div class="overlay">
          <a href="/love_live/azuna/maze_town"><button class="azuna">View</button></a>
        </div>
      </div>
      <div class="card roselia">
        <div class="title-container">
          <div class="title">LOUDER</div>
        </div>
        <div class="thumbnail">
          <img src="https://i.bandori.party/u/s/61LOUDER-0uAQr1.png" alt="LOUDER">
        </div>
        <div class="artist-container">
          <div class="artist">Roselia</div>
        </div>
        <div class="overlay">
          <a href="/bang_dream/roselia/louder"><button class="roselia">View</button></a>
        </div>
      </div>
      <div class="card roselia">
        <div class="title-container">
          <div class="title">R</div>
        </div>
        <div class="thumbnail">
          <img src="https://i.bandori.party/u/s/149R-xIRygO.png" alt="R">
        </div>
        <div class="artist-container">
          <div class="artist">Roselia</div>
        </div>
        <div class="overlay">
          <a href="/bang_dream/roselia/r"><button class="roselia">View</button></a>
        </div>
      </div>
      <div class="card guilty-kiss">
        <div class="title-container">
          <div class="title">Strawberry Trapper</div>
        </div>
        <div class="thumbnail">
          <img src="https://i.idol.st/u/song/50Strawberry-Trapper-sXq6H1.jpg" alt="Strawberry Trapper">
        </div>
        <div class="artist-container">
          <div class="artist">Guilty Kiss</div>
        </div>
        <div class="overlay">
          <a href="/love_live/guilty_kiss/strawberry_trapper"><button class="guilty-kiss">View</button></a>
        </div>
      </div>
      <div class="card roselia">
        <div class="title-container">
          <div class="title">
            <div class="en">Migikata no Chou</div>
            <div class="jp">右肩の蝶</div>
          </div>
        </div>
        <div class="thumbnail">
          <img src="https://i.bandori.party/u/s/277Migikata-no-Chou-R5vPIB.png" alt="右肩の蝶">
        </div>
        <div class="artist-container">
          <div class="artist">Roselia</div>
        </div>
        <div class="overlay">
          <a href="/bang_dream/roselia/migikata_no_chou"><button class="roselia">View</button></a>
        </div>
      </div>
      <div class="card roselia">
        <div class="title-container">
          <div class="title">Song I am.</div>
        </div>
        <div class="thumbnail">
          <img src="https://i.bandori.party/u/s/239Song-I-am-eXbxkH.png" alt="Song I am.">
        </div>
        <div class="artist-container">
          <div class="artist">Roselia</div>
        </div>
        <div class="overlay">
          <a href="/bang_dream/roselia/song_i_am"><button class="roselia">View</button></a>
        </div>
      </div>
      <div class="card morfonica">
        <div class="title-container">
          <div class="title">Daylight -デイライト-</div>
        </div>
        <div class="thumbnail">
          <img src="https://s3-ap-northeast-1.amazonaws.com/bang-dream-portal/e5f83146-b584-438e-bd52-fe7aeba99808.jpg" alt="Daylight -デイライト-">
        </div>
        <div class="artist-container">
          <div class="artist">Morfonica</div>
        </div>
        <div class="overlay">
          <a href="/bang_dream/morfonica/daylight"><button class="morfonica">View</button></a>
        </div>
      </div>
      <div class="card roselia">
        <div class="title-container">
          <div class="title en" style="font-size: 14px;" >Roku Chounen to Ichiya Monogatari</div>
          <div class="title jp">六兆年と一夜物語</div>
        </div>
        <div class="thumbnail">
          <img src="https://i.bandori.party/u/s/118Roku-Chounen-to-Ichiya-Monogatari-AQ1YOC.png" alt="六兆年と一夜物語">
        </div>
        <div class="artist-container">
          <div class="artist">Roselia</div>
        </div>
        <div class="overlay">
          <a href="/bang_dream/roselia/roku_chounen_to_ichiya_monogatari"><button class="roselia">View</button></a>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script src="/assets/js/main.js"></script>
</body>
</html>