---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RAISE A SUILEN | KAGI 鍵</title>
  <meta name="description" content="RAISE A SUILEN guitar tab.">
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
		<header>
			<a href="."><img src="/assets/images/logo_ras.png" class="responsive" style="max-width: 150px;"></a>
		</header>
		<div class="content">
      <div class="main ras">
        <div class="area">
          <button class="tablink ras" onclick="Tabs(event, 'original')" id="defaultOpen">Original</button>
          <button class="tablink ras" onclick="Tabs(event, 'cover')">Cover</button>
          <div class="tab">
            <div id="original" class="tabcontent">
              <div class="song-list">
                <ul>
                  N/A
                </ul>
              </div>
            </div>
            <div id="cover" class="tabcontent">
              <div class="song-list">
                <ul>
                  N/A
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include sidebar.html %}
		</div>
	</div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>