---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strawberry Trapper | KAGI 鍵</title>
  {% include head.html %}
</head>
<body>
  <nav id="topnav" class="topnav">
    <a href="javascript:void();" class="menu" onclick="MobileMenu()"><i class="fas fa-bars"></i></a>
    <div class="left" id="nav-left">
      <a href="/">Home</a>
      <a href="/BanG_Dream!">BanG Dream!</a>
      <a href="/Love_Live!" class="active">Love Live!</a>
      <a href="/support">Support</a>
      <a href="/faq">FAQ</a>
    </div>
    <div class="right">
      <button id="switch" class="switch" title="Click to switch theme">
        <img id="theme" src="https://kagi-music.github.io/assets/images/sun.png">
      </button>
    </div>
  </nav>
  <div class="wrapper">
    <header>
      <a href=".."><img src="/assets/images/Love_Live!/guilty_kiss_logo.png"></a>
    </header>
    <div class="content">
      <div class="main">
        <div class="box">
          <h2><a href="../Strawberry_Trapper" style="color: inherit;">Strawberry Trapper</a></h2>
          <span class="centerimg"><img src="https://i.idol.st/u/song/50Strawberry-Trapper-sXq6H1.jpg" class="cover responsive"></span>
          <p style="text-align: center; margin-bottom: 0;">Lyrics: Aki Hata</p>
          <p style="text-align: center; margin: 0;">Composer: Masashi Kanasaki</p>
          <p style="text-align: center; margin-top: 0;">Arrangement: Masashi Kanasaki</p>
          <div class="dropdown">
            <button onclick="Dropdown()">Download</button>
            <div id="dropdown" class="dropdown-content">
              <a href="https://ouo.io/mBhGiu" target="_blank">GP</a>
              <a href="https://ouo.io/A3rJxF" target="_blank">GPX</a>
            </div>
          </div>
          <p>If you don't understand or confused, please read the <a href="/faq">FAQ</a>.</p>
          <blockquote>EDIT FOR YOURSELF IS OK, BUT DON'T REUPLOAD IT ANYWHERE, PLEASE APPRECIATE MY EFFORT!</blockquote>
        </div>
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = 'https://kagi-music.github.io/Love_Live!/Guilty_Kiss/Strawberry_Trapper/index.html';
        this.page.identifier = 'strawberry_trapper';
        };

        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://kagi-music.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
  <div class="bg" id="bg">
    <script>
      var img = [
      "https://i.schoolido.lu/cards/transparent/1600idolizedTransparent.png",
      "https://i.schoolido.lu/cards/transparent/1601idolizedTransparent.png",
      "https://i.schoolido.lu/cards/transparent/1602idolizedTransparent.png",
      ]

      var bg = document.getElementById("bg");

      function background(num) {
        var num = Math.floor(Math.random() * 3);
        bg.style.backgroundImage = 'url("' + img[num] +'")';
        bg.style.backgroundSize = 'auto 300px';
        bg.style.backgroundAttachment = 'fixed';
        bg.style.backgroundRepeat = 'no-repeat';
        bg.style.backgroundPosition = '105% 100%';
      }

      background();
    </script>
  </div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>