<footer>
  <section class="info">
    <div>All BanG Dream! assets belong to CraftEgg/bushiroad.</div>
    <div>All Love Live! assets belong to KLabGames/SUNRISE/bushiroad.</div>
    <div>I do not own any of it.</div>
  </section>
  <br>
  <section class="thank-you">
    Thanks to<br>
    <a href="https://www.wikimedia.org/" target="_blank">wikimedia.org</a><br>
    <a href="https://bang-dream.com/" target="_blank">bang-dream.com</a><br>
    <a href="https://bang-dream.bushimo.jp/" target="_blank">bang-dream.bushimo.jp</a><br>
    <a href="https://bang-dream-gbp-en.bushiroad.com/" target="_blank">bang-dream-gbp-en.bushiroad.com</a><br>
    <a href="https://bandori.fandom.com/" target="_blank">bandori.fandom.com</a><br>
    <a href="https://bandori.party/" target="_blank">bandori.party</a><br>
    <a href="https://love-live.fandom.com" target="_blank">love-live.fandom.com</a><br>
    <a href="https://schoolido.lu/" target="_blank">schoolido.lu</a><br>
    <a href="https://idol.st/" target="_blank">idol.st</a>
  </section>
  <br>
  <section class="copyright">
    <div>Copyright &#169; <script type="text/javascript">let year = new Date(); document.write(year.getFullYear());</script> KAGI 鍵.</div>
  </section>
</footer>
<button id="back-to-top" class="back-to-top"><i class="fas fa-chevron-up"></i></button>