<footer>
  <div>All BanG Dream! assets belong to CraftEgg/bushiroad.</div>
  <div>All Love Live! assets belong to KLabGames/SUNRISE/bushiroad.</div>
  <div>I do not own any of it.</div>
  <br>
  <div>Thanks to <a href="https://bandori.party/" target="_blank">bandori.party</a>/<a href="https://schoolido.lu/" target="_blank">schoolido.lu</a>/<a href="https://idol.st/" target="_blank">idol.st</a>.</div>
  <div>Copyright &#169; <script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script> KAGI 鍵.</div>
</footer>