  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {% if page.categories == "homepage" -%}
    <meta name="google-site-verification" content="o5BCRQkf75VZSnGjs2uhVl-1--tx1t6EoivUf2QBgdg">
  {%- else -%}
  {%- endif -%}
  <meta name="description" content="{{ page.desc }}">
  <meta name="keywords" content="BanG Dream!, バンドリ!, Poppin'Party, Afterglow, Pastel Palettes, Roselia, Hello Happy World!, Morfonica, RAISE A SUILEN, Love Live!, ラブライブ, µ's, Aqours, 虹ヶ咲学園スクールアイドル同好会, 二ジガク, Nijigasaki High School Idol Club, guitar, tab, guitar tab">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="icon" href="/assets/icon/kagi-music_favico.png">
  <link rel="stylesheet" href="/assets/css/style.min.css">
  <script async src="https://kit.fontawesome.com/5f24e14c6a.js" crossorigin="anonymous"></script>
  <script async src="https://arc.io/widget.min.js#K34dUBct"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0SGVE78JY4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0SGVE78JY4');
  </script>