<meta name="keywords" content="BanG Dream!, バンドリ!, Poppin'Party, Afterglow, Pastel Palettes, Roselia, Hello Happy World!, Morfonica, RAISE A SUILEN, Love Live!, ラブライブ, µ's, Aqours, 虹ヶ咲学園スクールアイドル同好会, 二ジガク, Nijigasaki High School Idol Club, guitar, tab, guitar tab">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="icon" href="/assets/icon/kagi-music_favico.png">
<link rel="stylesheet" href="/assets/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script async src="https://arc.io/widget.min.js#K34dUBct"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0SGVE78JY4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0SGVE78JY4');
</script>