<nav id="topnav" class="topnav">
  <a href="javascript:void();" class="menu" onclick="MobileMenu()"><i class="fas fa-bars"></i></a>
  <div class="left" id="nav-left">
    <a href="/">Home</a>
    <a href="/BanG_Dream!">BanG Dream!</a>
    <a href="/Love_Live!">Love Live!</a>
    <a href="/support">Support</a>
    <a href="/faq">FAQ</a>
  </div>
  <div class="right">
    <button id="switch" class="switch" title="Click to switch theme">
      <img id="theme" src="https://kagi-music.github.io/assets/images/sun.png">
    </button>
  </div>
</nav>