<nav id="topnav">
  <div class="logo">
    <a href="/"><img src="/assets/images/kagi-music.png" style="height: 30px;"/></a>
  </div>
  <div class="link">
    <a href="/">Home</a>
    <a href="/bang_dream">BanG Dream!</a>
    <a href="/love_live">Love Live!</a>
    <a href="/support">Support</a>
    <a href="/faq">FAQ</a>
  </div>
  <div class="social">
    <a href="https://twitter.com/a_miftachul_h" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/a_miftachul_h" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCpPwJnqt9OlFFcD4SA6YCpg" title="YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="menu">
    <button id="menu" onclick="Overlay()"><i class="fas fa-bars"></i></button>
  </div>
</nav>
<div id="overlay" class="overlay">
  <div class="home">
    <a href="#"><i class="fas fa-home"></i> Home</a>
  </div>
  <div>
    <div class="part-title">Content</div>
    <a href="/bang_dream">BanG Dream!</a>
    <a href="/love_live">Love Live!</a>
  </div>
  <div>
    <div class="part-title">Help</div>
    <a href="/support">Support</a>
    <a href="/faq">FAQ</a>
  </div>
</div>