<li><a href="/Poppin'Party/Hikaru_Nara"><div class="en">Hikaru Nara</div><div class="jp">光るなら</div></a></li>
<li><a href="/Roselia/R">R</a></li>
<li><a href="/Morfonica/Daylight">Daylight -デイライト-</a></li>
<li><a href="/Roselia/LOUDER">LOUDER</a></li>
<li><a href="/AZUNA/Maze_Town">Maze Town</a></li>
<li><a href="/Roselia/Migikata_no_Chou"><div class="en">Migikata no Chou</div><div class="jp">右肩の蝶</div></a></li>
<li><a href="/Roselia/Roku_Chounen_to_Ichiya_Monogatari"><div class="en">Roku Chounen to Ichiya Monogatari</div><div class="jp">六兆年と一夜物語</div></a></li>
<li><a href="/Roselia/Song_I_am">Song I am.</a></li>
<li><a href="/Guilty_Kiss/Strawberry_Trapper">Strawberry Trapper</a></li>