<div class="sidebar">
  <div class="area">
    <div class="note">
      <h2>Note</h2>
      <div>Sorry, for some reason don't request anything. Thank you.</div>
    </div>
  </div>
  <div class="area">
    <div class="latest-update">
      <h2>Latest Update</h2>
      <div class="list">
        <a href="/bang_dream/roselia/louder" style="color: #3344aa;">LOUDER</a>
        <div class="artist">by Roselia</div>
      </div>   
      <div class="list">
        <a href="/bang_dream/roselia/r" style="color: #3344aa;">R</a>
        <div class="artist">by Roselia</div>
      </div>      
      <div class="list">
        <a href="/love_live/guilty_kiss/strawberry_trapper" style="color: #ee0066;">Strawberry Trapper</a>
        <div class="artist">by Guilty Kiss</div>
      </div>
      <div class="list">
        <a href="/bang_dream/roselia/migikata_no_chou" style="color: #3344aa;">Migikata no Chou</a>
        <div class="artist">by Roselia</div>
      </div>
      <div class="list">
        <a href="/bang_dream/roselia/song_i_am" style="color: #3344aa;">Song I am.</a>
        <div class="artist">by Roselia</div>
      </div>
      <div class="list">
        <a href="/bang_dream/morfonica/daylight" style="color: #33aaff;">Daylight -デイライト-</a>
        <div class="artist">by Morfonica</div>
      </div>
      <div class="list">
        <a href="/bang_dream/roselia/roku_chounen_to_ichiya_monogatari" style="color: #3344aa;">Roku Chounen to Ichiya Monogatari</a>
        <div class="artist">by Roselia</div>
      </div>
    </div>
  </div>
</div>