<aside class="sidebar">
  <section class="note">
    <div class="title-wrapper">
      <div class="title">Note</div>
    </div>
    <div class="content">
      Edit for yourself is ok, but don't reupload my efforts in other sites.
    </div>
  </section>
  <section class="how-to-open">
    <div class="title-wrapper">
      <div class="title">How to Download & Open GP/GPX</div>
    </div>
    <div class="content">
      Please read this <a href="/faq#how-to-download" target="_blank">FAQ</a>.
    </div>
  </section>
</aside>