---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>右肩の蝶 | KAGI 鍵</title>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
    <header>
      <a href=".."><img src="/assets/images/BanG_Dream!/roselia_logo.png" height="70px"></a>
    </header>
    <div class="content">
      <div class="main">
        <div class="box">
          <h2><a href="../Migikata_no_Chou" style="color: inherit;">右肩の蝶</a></h2>
          <span class="centerimg"><img src="https://i.bandori.party/u/s/277Migikata-no-Chou-R5vPIB.png" class="cover responsive"></span>
          <p style="text-align: center; margin-bottom: 0;">Lyrics: Nori-P</p>
          <p style="text-align: center; margin: 0;">Composer: Mizuno Yura</p>
          <p style="text-align: center; margin-top: 0;">Arrangement: Hidaka Yuki (Elements Garden)</p>
          <div class="dropdown">
            <button onclick="Dropdown()">Download</button>
            <div id="dropdown" class="dropdown-content">
              <a href="https://ouo.io/zBPJBY" target="_blank">GP</a>
              <a href="https://ouo.io/sMXhpG" target="_blank">GPX</a>
              <a href="https://ouo.io/17DIv0" target="_blank">PDF</a>
            </div>
          </div>
          <p>If you don't understand or confused, please read the <a href="/faq">FAQ</a>.</p>
          <blockquote>EDIT FOR YOURSELF IS OK, BUT DON'T REUPLOAD IT ANYWHERE, PLEASE APPRECIATE MY EFFORT!</blockquote>
        </div>
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = 'https://kagi-music.github.io/BanG_Dream!/Roselia/Migikata_no_Chou/index.html';
        this.page.identifier = 'migikata';
        };

        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://kagi-music.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
  <div class="chibi" id="chibi">
    <script>
      var img = [
        "https://i.bandori.party/u/cos/chibi/2701u-cos-chibi-tiny-2701u-cos-chibi-EEzeg6Yukina-Minato-cos-chibi-mUP6qh-png-10DlBk.png",
        "https://i.bandori.party/u/cos/chibi/2713u-cos-chibi-tiny-2713u-cos-chibi-kz93FLSayo-Hikawa-cos-chibi-mYnNS8-png-0-aIINgg.png",
        "https://i.bandori.party/u/cos/chibi/2704u-cos-chibi-tiny-2704u-cos-chibi-vVlHRqLisa-Imai-cos-chibi-h3blQO-png-5hp-EIHBFk.png",
        "https://i.bandori.party/u/cos/chibi/2706u-cos-chibi-tiny-2706u-cos-chibi-sfCaa7Ako-Udagawa-cos-chibi-2E64Te-png-8-YlwYq0.png",
        "https://i.bandori.party/u/cos/chibi/2710u-cos-chibi-tiny-2710u-cos-chibi-ysCeUzRinko-Shirokane-cos-chibi-MD43nQ-p-bLZVB6.png",
      ]

      var bg = document.getElementById("chibi");

      function chibi(num) {
        var num = Math.floor(Math.random() * 5);
        bg.style.backgroundImage = 'url("' + img[num] +'")';
        bg.style.backgroundSize = 'auto 200px';
        bg.style.backgroundAttachment = 'fixed';
        bg.style.backgroundRepeat = 'no-repeat';
        bg.style.backgroundPosition = '100% 100%';
      }

      chibi();
    </script>
  </div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>