---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BanG Dream! | KAGI 鍵</title>
  <meta name="description" content="BanG Dream! Guitar Tab.">
  {% include head.html %}
</head>
<body class="bandori">
  {% include header.html %}
  <div class="container">
    <div class="main">
      <div class="title">BanG Dream!</div>
      Press Ctrl + F to find a song.
      <div class="poppin-party">
        <div class="band">Poppin'Party</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="afterglow">
        <div class="band">Afterglow</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="pastel-palettes">
        <div class="band">Pastel✽Palettes</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="roselia">
        <div class="band">Roselia</div>
        <div class="original">
          <h4>Original</h4>
          <li><a href="roselia/louder">LOUDER</a></li>
          <li><a href="roselia/r">R</a></li>
          <li><a href="roselia/song_i_am">Song I am.</a></li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li><a href="roselia/roku_chounen_to_ichiya_monogatari"><ruby>六兆年と一夜物語<rt>Roku Chounen to Ichiya Monogatari</rt></ruby></a></li>
          <li><a href="roselia/migikata_no_chou"><ruby>右肩の蝶<rt>Migikata no Chou</rt></ruby></a></li>
        </div>
      </div>
      <div class="hello-happy-world">
        <div class="band">ハロー、ハッピーワールド！</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="morfonica">
        <div class="band">Morfonica</div>
        <div class="original">
          <h4>Original</h4>
          <li><a href="morfonica/daylight">Daylight -デイライト-</a></li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="raise-a-suilen">
        <div class="band">RAISE A SUILEN</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
    </div>
    {% include sidebar.html %}
  </div>
  {% include footer.html %}
</body>
</html>