---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BanG Dream! | KAGI 鍵</title>
  <meta name="description" content="BanG Dream! band list.">
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
		<header>
			<a href="."><img src="/assets/images/logo_bang-dream.png" class="responsive" style="max-width: 300px;"></a>
		</header>
		<div class="content">
      <div class="main">
        <div class="area">
          <div class="grid-bd">
            <a href="poppinparty">
              <div class="item bandori popipa">
                <img src="/assets/images/logo_poppinparty.png" class="responsive" style="max-width: 100px;">
              </div>
            </a>
            <a href="afterglow">
              <div class="item bandori afterglow">
                <img src="/assets/images/logo_afterglow.png" class="responsive" style="max-width: 100px;">
              </div>
            </a>
            <a href="pastel_palettes">
              <div class="item bandori pasupare">
                <img src="/assets/images/logo_pastelpalettes.png" class="responsive" style="max-width: 100px;">
              </div>
            </a>
            <a href="roselia">
              <div class="item bandori roselia">
                <img src="/assets/images/logo_roselia.png" class="responsive" style="max-width: 100px;">
              </div>
            </a>
            <a href="hello_happy_world">
              <div class="item bandori harohapi">
                <img src="/assets/images/logo_hello-happy-world.png" class="responsive" style="max-width: 100px;">
              </div>
            </a>
            <a href="morfonica">
              <div class="item bandori morfonica">
                <img src="/assets/images/logo_morfonica.png" class="responsive" style="max-width: 100px;">
              </div>
            </a>
            <a href="raise_a_suilen">
              <div class="item bandori ras">
                <img src="/assets/images/logo_ras.png" class="responsive" style="max-width: 100px;">
              </div>
            </a>
          </div>
        </div>
      </div>
			{% include sidebar.html %}
		</div>
	</div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>