---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BanG Dream! | KAGI 鍵</title>
  <meta name="description" content="BanG Dream! Guitar Tab.">
  {% include head.html %}
</head>
<body class="bandori">
  {% include header.html %}
  <div class="song-list-container">
    <h2><div class="en">BanG Dream!</div><div class="jp">バンドリ！</div></h2>
    <div class="bandori-song-list">
      <div class="poppin-party">
        <div class="band">Poppin'Party</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="afterglow">
        <div class="band">Afterglow</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="pastel-palettes">
        <div class="band">Pastel✽Palettes</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="roselia">
        <div class="band">Roselia</div>
        <div class="original">
          <h4>Original</h4>
          <li><a href="roselia/louder">LOUDER</a></li>
          <li><a href="roselia/r">R</a></li>
          <li><a href="roselia/song_i_am">Song I am.</a></li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li><a href="roselia/roku_chounen_to_ichiya_monogatari"><div class="en">Roku Chounen to Ichiya Monogatari</div><div class="jp">六兆年と一夜物語</div></a></li>
          <li><a href="roselia/migikata_no_chou"><div class="en">Migikata no Chou</div><div class="jp">右肩の蝶</div></a></li>
        </div>
      </div>
      <div class="hello-happy-world">
        <div class="band"><div class="en">Hello, Happy World!</div><div class="jp">ハロー、ハッピーワールド！</div></div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="morfonica">
        <div class="band">Morfonica</div>
        <div class="original">
          <h4>Original</h4>
          <li><a href="morfonica/daylight">Daylight -デイライト-</a></li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="raise-a-suilen">
        <div class="band">RAISE A SUILEN</div>
        <div class="original">
          <h4>Original</h4>
          <li>N/A</li>
        </div>
        <div class="cover">
          <h4>Cover</h4>
          <li>N/A</li>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>