---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daylight -デイライト- | KAGI 鍵</title>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
    <header>
      <a href=".."><img src="/assets/images/BanG_Dream!/morfonica_logo.png" height="70px"></a>
    </header>
    <div class="content">
      <div class="main">
        <div class="box">
          <h2><a href="../Daylight" style="color: inherit;">Daylight -デイライト-</a></h2>
          <span class="centerimg"><img src="https://s3-ap-northeast-1.amazonaws.com/bang-dream-portal/e5f83146-b584-438e-bd52-fe7aeba99808.jpg" class="cover responsive"></span>
          <p style="text-align: center; margin-bottom: 0;">Lyrics: Agematsu Noriyasu (Elements Garden)</p>
          <p style="text-align: center; margin: 0;">Composer: Oda Asuka (Elements Garden)</p>
          <p style="text-align: center; margin-top: 0;">Arrangement: Fujita Junpei (Elements Garden)</p>
          <div class="dropdown">
            <button onclick="Dropdown()">Download</button>
            <div id="dropdown" class="dropdown-content">
              <a href="https://ouo.io/IQNdl6" target="_blank">GP</a>
              <a href="https://ouo.io/CsQEXKC" target="_blank">GPX</a>
            </div>
          </div>
          <p>If you don't understand or confused, please read the <a href="/faq">FAQ</a>.</p>
          <blockquote>EDIT FOR YOURSELF IS OK, BUT DON'T REUPLOAD IT ANYWHERE, PLEASE APPRECIATE MY EFFORT!</blockquote>
        </div>
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = 'https://kagi-music.github.io/BanG_Dream!/Morfonica/Daylight/index.html';
        this.page.identifier = 'daylight';
        };

        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://kagi-music.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
  <div class="chibi" id="chibi"><script src="/assets/js/chibi_morfonica.js"></script></div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>