/* This template is made by the blog owner */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ddd;
  color: #1f1f1f;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

blockquote {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

a {
  color: #571fd8;
  text-decoration: none;
}

a:hover {
  color: #5088aa;
}

.responsive {
  width: 100%;
  height: auto;
}

/* Top Navigation Menu */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #eee;
  display: flex;
  align-items: center;
  height: 3em;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.logo {
  margin-left: 10px;
}

.link {
  margin-left: 20px;
}

.link a {
  font-size: 14px;
  font-weight: bold;
  color: #111111;
  padding: 0 10px;
}

.link a:hover {
  color: #969696;
}

.social {
  font-size: 24px;
  margin: 0 10px 0 auto;
}

.social a:hover {
  opacity: 0.6;
}

.social .fa-twitter {
  color: #1da1f2;
}

.social .fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social .fa-youtube {
  color: #ff0000;
}

.menu {
  margin-right: 10px;
  display: none;
}

.menu button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu button i {
  background-color: #666;
  color: #f1f1f1;
  font-size: 20px;
  border-radius: 4px;
  line-height: 32px;
  width: 32px;
}

@media screen and (max-width: 530px) {
  nav {
    justify-content: space-between;
  }

  .link {
    display: none;
  }

  .menu {
    display: block;
  }
}

/* Overlay Menu */
.overlay {
  overflow: hidden;
  height: 100%;
  width: 30%;
  position: fixed;
  padding: 10px;
  z-index: 3;
  top: 3em;
  right: 0;
  background-color: #eee;
  box-shadow: -4px 0 4px -5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

.overlay.show {
  transform: translateX(0);
}

.overlay a {
  display: block;
  padding: 10px 16px;
  color: #1f1f1f;
}

.overlay a:hover {
  color: #5088aa;
}

.overlay .part-title {
  padding: 10px 16px;
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .overlay {
    width: 100%;
  }
}

/* Homepage */
.homepage {
  overflow: hidden;
}

.homepage-title-container {
  padding: 24px 0;
  background-color: #5b97bd;
  color: #f0f0f0;
}

.homepage *::selection {
  user-select: none;
}

.homepage *::-moz-selection {
  user-select: none;
}

@keyframes slideDownTitle {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.homepage-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  animation: slideDownTitle 0.75s;
}

@keyframes fadeInDesc {
  from {opacity: 0;}
  to {opacity: 1;}
}

.homepage-desc {
  text-align: center;
  opacity: 1;
  animation: fadeInDesc 2.25s;
}

@keyframes Chara {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.homepage-chara-container {
  display: flex;
  justify-content: center;
}

.homepage-chara {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 500px;
  z-index: -1;
  animation: Chara 2s both;
  animation-delay: 1.25s;
  pointer-events: none;
}

.homepage-menu {
  display: none;
}

@keyframes social {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.homepage-social {
  position: fixed;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 1;
}

.homepage-social a {
  display: flex;
  margin: 10px;
  background-color: #f0f0f0;
  color: #111;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #111;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  animation: social 0.25s linear both;
}

.homepage-social a:hover {
  color: grey;
}

.homepage-social a:nth-child(1) {animation-delay: 1.5s;}
.homepage-social a:nth-child(2) {animation-delay: 1.6s;}
.homepage-social a:nth-child(3) {animation-delay: 1.7s;}

.homepage-btn {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@keyframes fadeInButton {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }

  80% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.homepage-btn button {
  color: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 0;
  width: 200px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.25s;
  animation: fadeInButton 1s linear both;
}

.homepage-btn a:nth-child(1) button {
  background-color: #e5004f;
  animation-delay: 0.25s;
}

.homepage-btn a:nth-child(2) button {
  background-color: #f0047f;
  animation-delay: 0.5s;
}

.homepage-btn a:nth-child(3) button {
  background-color: #7851be;
  animation-delay: 0.75s;
}

.homepage-btn a:nth-child(4) button {
  background-color: #44f044;
  animation-delay: 1s;
}

.homepage-btn a:nth-child(1) button:hover {
  color: #e5004f;
  border: 1px solid #e5004f;
}

.homepage-btn a:nth-child(2) button:hover {
  color: #f0047f;
  border: 1px solid #f0047f;
}

.homepage-btn a:nth-child(3) button:hover {
  color: #7851be;
  border: 1px solid #7851be;
}

.homepage-btn a:nth-child(4) button:hover {
  color: #44f044;
  border: 1px solid #44f044;
}

.homepage-btn a button:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 1024px) {
  .homepage-chara {
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .homepage-desc {
    font-size: 14px;
  }

  .homepage-chara {
    height: 400px;
  }

  .homepage-btn button {
    width: 150px;
  }
}

@media screen and (max-width: 425px) {
  .homepage-desc {
    padding: 0 20px;
  }

  @keyframes menu {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .homepage-menu {
    position: fixed;
    font-size: 26px;
    left: 5px;
    top: 32.25%;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    color: #111;
    border: 1px solid #111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: menu 0.25s linear both;
    animation-delay: 1.5s;
    z-index: 1;
  }

  .homepage-btn {
    display: none;
  }

  .homepage-btn.show {
    position: fixed;
    width: auto;
    left: 50%;
    top: 31%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }

  .homepage-btn button {
    width: 200px;
    animation: none;
  }
}

/* Header */
.wrapper {
  padding: 0 20px;
}

header {
  margin-top: 3em;
  padding: 24px 0;
}

header a {
  font-weight: bold;
  font-size: 40px;
  color: #1f1f1f;
}

@media screen and (max-width: 425px) {
  header {
    text-align: center;
  }
}

/* Main Content */
.content::after {
  content: "";
  display: table;
  clear: both;
}

.area {
  background-color: #eee;
  padding: 20px;
}

.main {
  float: left;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
    padding: 0;
  }
}

/* Post */
.main.popipa a, .main.popipa a:hover {
  color: #ff3377;
}

.main.afterglow a, .main.afterglow a:hover {
  color: #e53344;
}

.main.pasupare a, .main.pasupare a:hover {
  color: #33ddaa;
}

.main.roselia a, .main.roselia a:hover {
  color: #3344aa;
}

.main.harohapi a, .main.harohapi a:hover {
  color: #ffdd00;
}

.main.morfonica a, .main.morfonica a:hover {
  color: #33aaff;
}

.main.ras a, .main.ras a:hover {
  color: #39c9c5;
}

.main.guilty-kiss a, main.guilty-kiss a:hover {
  color: #ee0066;
}

.song-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.song-title.roselia {
  color: #3344aa;
}

.song-title.morfonica {
  color: #33aaff;
}

.song-title.guilty-kiss {
  color: #ee0066;
}

.song-title-romaji {
  font-size: 12px;
  text-align: center;
}

.song-cover {
  padding: 10px;
  text-align: center;
}

.song-list ul {
  list-style-type: "- ";
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
}

.song-title a:hover, .song-list a:hover {
  text-shadow: 0 0 1px;
}

.songwriter {
  font-size: 14px;
  text-align: center;
}

/* Tab */
.tab {
  float: none;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tablink {
  float: left;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 14px;
  margin: 0;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tablink.popipa.active {
  background-color: #ff3377;
  color: #f0f0f0;
}

.tablink.afterglow.active {
  background-color: #e53344;
  color: #f0f0f0;
}

.tablink.pasupare.active {
  background-color: #33ddaa;
  color: #f0f0f0;
}

.tablink.roselia.active {
  background-color: #3344aa;
  color: #f0f0f0;
}

.tablink.harohapi.active {
  background-color: #ffdd00;
  color: white;
}

.tablink.morfonica.active {
  background-color: #33aaff;
  color: #f0f0f0;
}

.tablink.ras.active {
  background-color: #39c9c5;
  color: #f0f0f0;
}

/* Download Button */
.download {
  position: relative;
  padding: 10px;
  text-align: center;
}

.download button {
  padding: 9px;
  color: #eee;
  width: 80px;
  border: none;
  outline: none;
  cursor: pointer;
}

.download button:hover {
  text-decoration: underline;
}

.download-content {
  background: #f1f1f1;
  position: absolute;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.5s;
}

.download-content.show {
  opacity: 1;
  pointer-events: auto;
}

.download a {
  font-size: 14px;
  display: block;
  padding: 8px;
  width: 80px;
}

.download a:hover {
  background-color: #ddd;
}

.download.roselia button {
  background-color: #3344aa;
}

.download.roselia a {
  color: #3344aa;
}

.download.morfonica button {
  background-color: #33aaff;
}

.download.morfonica a {
  color: #33aaff;
}

.download.guilty-kiss button {
  background-color: #ee0066;
}

.download.guilty-kiss a {
  color: #ee0066;
}

/* BanG Dream! */
.grid-bd {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-bd .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.bandori {
  height: 80px;
}

.bandori.popipa {
  border: 2px solid #ff3377;
}

.bandori.popipa:hover {
  background-color: rgba(255, 51, 119, 0.1);
}

.bandori.afterglow {
  border: 2px solid #e53344;
}

.bandori.afterglow:hover {
  background-color: rgba(229, 51, 69, 0.1);
}

.bandori.pasupare {
  border: 2px solid #33ddaa;
}

.bandori.pasupare:hover {
  background-color: rgba(51, 221, 170, 0.1);
}

.bandori.roselia {
  border: 2px solid #3344aa;
}

.bandori.roselia:hover {
  background-color: rgba(51, 69, 170, 0.1);
}

.bandori.harohapi {
  border: 2px solid #ffdd00;
}

.bandori.harohapi:hover {
  background-color: rgba(255, 221, 0, 0.1);
}

.bandori.morfonica {
  border: 2px solid #33aaff;
}

.bandori.morfonica:hover {
  background-color: rgba(51, 170, 255, 0.1);
}

.bandori.ras {
  border: 2px solid #39c9c5;
}

.bandori.ras:hover {
  background-color: rgba(57, 201, 196, 0.1);
}

@media screen and (max-width: 425px) {
  .grid-bd {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 320px) {
  .grid-bd {
    grid-template-columns: auto;
  }

  .grid-bd .item {
    margin: 10px 0 10px 0;
  }
}

/* Love Live */
.group {
  padding-top: 24px;
}

.group:first-child {
  padding-top: 0;
}

.group:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.club {
  background-color: #696969;
  color: #f1f1f1;
  padding: 4px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.unit {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.main-unit {
  margin: 10px;
  text-align: center;
}

.grid-ll {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-ll .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
}

.lovelive:hover {
  opacity: 0.8;
}

.nijigasaki {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.nijigasaki .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.niji-member img {
  max-width: 100px;
  border: 1px solid #a5a5a5;
  border-radius: 50%;
}

@media screen and (max-width: 425px) {
  .grid-ll {
    grid-template-columns: auto;
  }

  .nijigasaki {
    grid-template-columns: auto auto auto;
  }
}

/* Sidebar */
.sidebar {
  padding-left: 20px;
  float: left;
  width: 30%;
}

.sidebar .area:not(:last-child) {
  margin-bottom: 20px;
}

.note > div {
  font-size: 14px;
}

.latest-update .list {
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  border-top: 1px solid grey;
}

.latest-update .list:last-child {
  border-bottom: 1px solid grey;
}

.latest-update .list > * {
  display: inline-block;
}

.latest-update a:hover {
  text-shadow: 0 0 1px;
}

.latest-update .artist {
  font-weight: bold;
  color: #a5a5a5;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

/* Footer */
footer {
  position: relative;
  margin-top: 20px;
  background-color: #eee;
  padding: 20px 50px;
  width: 100%;
  font-size: 14px;
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* FAQ */
.faq li {
  list-style-type: "☆ ";
}

/* Misc */
.back-to-top {
  position: fixed;
  display: none;
  bottom: 5px;
  right: 5px;
  background-color: #2196f3;
  color: #f0f0f0;
  font-size: 25px;
  padding: 0 6px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

.character {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 130px 100px;
  z-index: 1;
  pointer-events: none;
}

@media screen and (max-width: 425px) {
  .character {
    display: none;
  }
}