/* This theme is made by the website owner */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  color: #202020;
}

body.dark {
  background-color: #303030;
  color: #f9f9f9;
}

a {
  color: #5f5fd4;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8em;
  background-color: #99c;
  user-select: none;
}

header .title {
  font-size: 50px;
  font-weight: 900;
  color: #f9f9f9;
}

/* Top Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  color: inherit;
  height: 3em;
  width: 100%;
  border-bottom: 1px solid transparent;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
  user-select: none;
}

nav.dark {
  background-color: #202020;
  border-bottom: 1px solid #444;
  box-shadow: none;
}

nav .menu-btn {
  display: none;
  background: none;
  border: none;
  outline: none;
  width: 30px;
  margin-left: 10px;
}

nav .menu-btn .line {
  background-color: #202020;
  height: 2px;
  width: 100%;
  margin: 4px 0;
  cursor: pointer;
}

nav .menu-btn .line.dark {
  background-color: #f9f9f9;
}

nav .links a {
  color: inherit;
  padding: 11px 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

nav .links a:nth-child(2):hover {color: #e5004f;}
nav .links a:nth-child(3):hover {color: #f0047f;}
nav .links a:nth-child(4):hover {color: #7851be;}
nav .links a:nth-child(5):hover {color: #44f044;}

nav .links a:nth-child(2).active {
  color: #e5004f;
  border-bottom: 4px solid #e5004f;
}
nav .links a:nth-child(3).active {
  color: #f0047f;
  border-bottom: 4px solid #f0047f;
}
nav .links a:nth-child(4).active {
  color: #7851be;
  border-bottom: 4px solid #7851be;
}
nav .links a:nth-child(5).active {
  color: #44f044;
  border-bottom: 4px solid #44f044;
}

nav .theme-btn {
  display: flex;
  margin-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  nav .menu-btn {
    display: block;
  }
  nav .links {
    display: none;
  }
}

/* Menu Overlay */
.menu-overlay {
  position: fixed;
  display: grid;
  place-items: center;
  grid-template-areas: 
    'home home'
    'bandori lovelive'
    'support faq';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 2;
}

.menu-overlay.show {
  transform: translateX(0);
}

.menu-overlay .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: inherit;
  font-size: 3em;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-overlay a {
  display: block;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

.menu-overlay a:nth-child(2) {grid-area: home;}
.menu-overlay a:nth-child(3) {grid-area: bandori;}
.menu-overlay a:nth-child(4) {grid-area: lovelive;}
.menu-overlay a:nth-child(5) {grid-area: support;}
.menu-overlay a:nth-child(6) {grid-area: faq;}

.menu-overlay a:nth-child(3).active {color: #e5004f;}
.menu-overlay a:nth-child(4).active {color: #f0047f;}
.menu-overlay a:nth-child(5).active {color: #7851be;}
.menu-overlay a:nth-child(6).active {color: #44f044;}

/* Homepage */
.latest-update-container {
  padding: 0 20px 20px;
  text-align: center;
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  width: 250px;
  height: 320px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card.dark {
  background-color: #202020;
  border: 1px solid #444;
}


.card .title {
  display: grid;
  place-items: center;
  height: 1.5em;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.card.roselia .title {color: #34a;}
.card.morfonica .title {color: #3af;}
.card.guilty-kiss .title {color: #e06;}
.card.azuna .title {color: #ff003f;}

.card .thumbnail {
  text-align: center;
}

.card .thumbnail img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.card .artist-container {
  display: grid;
  place-items: center;
  height: calc(100% - 30px - 204px);
}

.card .artist {
  padding: 0 10px;
  width: fit-content;
  color: #f9f9f9;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  border-radius: 20px;
}
.card.roselia .artist {background-color: #34a;}
.card.morfonica .artist {background-color: #3af;}
.card.guilty-kiss .artist {background-color: #e06;}
.card.azuna .artist {background-color: #ff003f;}

.card .overlay {
  position: absolute;
  display: grid;
  place-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.4s, transform 0.4s;
}

.card:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

.card .overlay button {
  font-family: 'Titillium Web', sans-serif;
  padding: 6px 14px;
  color: #f9f9f9;
  border: 1px solid rgb(255, 255, 255, 0.3);
  outline: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-indent: 1px;
  cursor: pointer;
}
.card .overlay button.roselia {background-color: #34a;}
.card .overlay button.morfonica {background-color: #3af;}
.card .overlay button.guilty-kiss {background-color: #e06;}
.card .overlay button.azuna {background-color: #ff003f;}

/* Content */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 70% auto;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.container.dark {
  background-color: #202020;
  border: 1px solid #444;
  box-shadow: none;
}

.main {
  padding-right: 10px;
}

.main .title {
  margin-bottom: 20px;
  font-size: 1.25em;
  font-weight: bold;
}

.sidebar {
  padding-left: 10px;
  border-left: 1px solid #696969;
}

.sidebar .title {
  padding: 0.25vh 0.5ch 0.1vh 0.5ch;
  background-color: #696969;
  color: #f9f9f9;
  width: fit-content;
  font-size: 1em;
  font-weight: bold;
}

.sidebar .title-container::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #696969;
}

.sidebar .content {
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .sidebar {
    padding: 0;
    margin-top: 20px;
    border: none;
  }
}

/* BanG Dream! Page */
.bandori .band {
  margin: 10px 0;
  color: #f9f9f9;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  user-select: none;
}
.bandori .poppin-party .band {background-color: #f37;}
.bandori .afterglow .band {background-color: #e34;}
.bandori .pastel-palettes .band {background-color: #3da;}
.bandori .roselia .band {background-color: #34a;}
.bandori .hello-happy-world .band {background-color: #fd0;}
.bandori .morfonica .band {background-color: #3af;}
.bandori .raise-a-suilen .band {background-color: #39c9c5;}

.bandori li {
  line-height: 1.5em;
}

.bandori li a {
  font-weight: bold;
}
.bandori .poppin-party li a {color: #f37;}
.bandori .afterglow li a {color: #e34;}
.bandori .pastel-palettes li a {color: #3da;}
.bandori .roselia li a {color: #34a;}
.bandori .hello-happy-world li a {color: #fd0;}
.bandori .morfonica li a {color: #3af;}
.bandori .raise-a-suilen li a {color: #39c9c5;}

/* Love Live! Page */
.love-live .group {
  margin: 10px 0;
  color: #f9f9f9;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  user-select: none;
}
.love-live .otonokizaka .group {background-color: #e4007f;}
.love-live .uranohoshi .group {background-color: #1999d6;}
.love-live .nijigasaki .group {background-color: #f39800;}
.love-live .yuigaoka .group {background-color: #8b4993;}

.love-live li {
  line-height: 1.5em;
}

.love-live li a {
  font-weight: bold;
}
.love-live li.guilty-kiss a {color: #e06;}
.love-live li.azuna a {color: #ff003f;}

/* Song Page */
.song .main .title {
  margin-bottom: 10px;
  text-align: center;
}
.song .main.poppin-party .title {color: #f37;}
.song .main.afterglow .title {color: #e34;}
.song .main.pastel-palettes .title {color: #3da;}
.song .main.roselia .title {color: #34a;}
.song .main.hello-happy-world .title {color: #fd0;}
.song .main.morfonica .title {color: #3af;}
.song .main.raise-a-suilen .title {color: #39c9c5;}
.song .main.guilty-kiss .title {color: #e06;}
.song .main.azuna .title {color: #ff003f;}

.song .jacket {
  text-align: center;
}

.song .jacket img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.song-writer {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.song .main .download {
  margin-top: 10px;
  user-select: none;
}

.song .main .download > div {
  display: flex;
  justify-content: center;
}

.song .main .download tr {
  height: 2em;
}

.song .main .download .download-btn {
  width: 220px;
  color: #f9f9f9;
  cursor: pointer;
}
.song .main.poppin-party .download .download-btn {background-color: #f37;}
.song .main.afterglow .download .download-btn {background-color: #e34;}
.song .main.pastel-palettes .download .download-btn {background-color: #3da;}
.song .main.roselia .download .download-btn {background-color: #34a;}
.song .main.hello-happy-world .download .download-btn {background-color: #fd0;}
.song .main.morfonica .download .download-btn {background-color: #3af;}
.song .main.raise-a-suilen .download .download-btn {background-color: #39c9c5;}
.song .main.guilty-kiss .download .download-btn {background-color: #e06;}
.song .main.azuna .download .download-btn {background-color: #ff003f;}

.song .main .download .download-text,
.song .main .download .arrow {
  display: grid;
  place-items: center;
}

.song .main .download .arrow.rotate {
  transform: rotate(180deg);
}

.song .main .download-btn td:nth-child(1) {
  width: 80%;
}

.song .main .download-btn td:nth-child(2) {
  width: auto;
  border-left: 1px solid #f9f9f9;
}

.song .main .download > div:nth-child(2) {
  overflow: hidden;
}

.song .main .download-list {
  background-color: #eee;
  width: 220px;
  font-size: 14px;
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.song .main .download-list.dark {
  background-color: #303030;
}

.song .main .download-list.show {
  transform: translateY(0);
}

.song .main .download-list td:nth-child(1) {
  width: 80%;
}

.song .main .download-list td a {
  display: grid;
  place-items: center;
}

.song .main.poppin-party .download-list a {color: #f37;}
.song .main.afterglow .download-list a {color: #e34;}
.song .main.pastel-palettes .download-list a {color: #3da;}
.song .main.roselia .download-list a {color: #34a;}
.song .main.hello-happy-world .download-list a {color: #fd0;}
.song .main.morfonica .download-list a {color: #3af;}
.song .main.raise-a-suilen .download-list a {color: #39c9c5;}
.song .main.guilty-kiss .download-list a {color: #e06;}
.song .main.azuna .download-list a {color: #ff003f;}

/* FAQ */
.faq .main > li {
  list-style: none;
}

.faq h4 {
  padding: 0.3ch 0.5ch 0.2ch;
  width: fit-content;
  background-color: #696969;
  color: #f9f9f9;
  user-select: none;
}

.faq .main .img-container {
  text-align: center;
}

.faq .img-container > img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: #f9f9f9;
  color: inherit;
  padding: 20px;
  font-size: 13px;
  text-align: center;
  box-shadow: 0 -6px 6px -6px rgba(0, 0, 0, 0.2);
  user-select: none;
}

footer.dark {
  background-color: #202020;
  border-top: 1px solid #444;
  box-shadow: none;
}

/* Character */
.character {
  position: fixed;
  pointer-events: none;
  z-index: 1;
}

.character.bandori {
  right: 5px;
  bottom: 5px;
  max-height: 200px;
}

.character.love-live {
  right: -50px;
  bottom: 0;
  max-height: 250px;
}

@media screen and (max-width: 768px) {
  .character.bandori {
    max-height: 150px;
  }
  .character.love-live {
    max-height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .character.bandori,
  .character.love-live {
    display: none;
  }
}

/* Back To Top */
.back-to-top {
  display: none;
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 26px;
  height: 26px;
  background-color: #9999cc;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}