---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Live! | KAGI 鍵</title>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
    <header>
      <a href="/Love_Live!"><img src="/assets/images/Love_Live!/lovelive.png" height="70px"></a>
    </header>
    <div class="content">
      <div class="main">
        <div class="box">
          <h2>µ's</h2>
          <h3>Main Unit</h3>
          <p>n/a</p>
          <h3>Sub Unit</h3>
          <p>n/a</p>
          <h2>Aqours</h2>
          <h3>Main Unit</h3>
          <p>n/a</p>
          <h3>Sub Unit</h3>
          <a href="Guilty_Kiss"><img src="/assets/images/Love_Live!/guilty_kiss_logo.png" width="100px"></a>
          <h2>Nijigasaki High School Idol Club</h2>
          <h3>Main Unit</h3>
          <p>n/a</p>
          <h3>Sub Unit</h3>
          <p>n/a</p>
          <h3>Member</h3>
          <p>n/a</p>
        </div>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>