---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song I am. | KAGI 鍵</title>
  <meta name="description" content="Roselia 「Song I am.」 Guitar Tab.">
  {% include head.html %}
</head>
<body class="song">
  {% include header.html %}
  <div class="container">
    <div class="main roselia">
      <div class="title">Song I am.</div>
      <div class="jacket"><img src="https://i.bandori.party/u/s/239Song-I-am-eXbxkH.png" alt="Song I am."></div>
      <div class="song-writer">
        <div class="en">
          <div>Lyrics: Oda Asuka (Elements Garden)</div>
          <div>Composer: Fujinaga Ryutarou (Elements Garden)</div>
          <div>Arrangement: Fujinaga Ryutarou (Elements Garden)</div>
        </div>
        <div class="jp">
          <div>作詞 : 織田あすか（Elements Garden）</div>
          <div>作曲 : 藤永龍太郎（Elements Garden）</div>
          <div>編曲 : 藤永龍太郎（Elements Garden）</div>
        </div>
      </div>
      <div class="download">
        <div>
          <table class="download-btn">
            <tr>
              <td><div class="download-text">Download</div></td>
              <td><div id="arrow" class="arrow"><i class="fas fa-caret-down"></i></div></td>
            </tr>
          </table>
        </div>
        <div>
          <table id="download-list" class="download-list">
            <tr>
              <td>Guitar Pro 7 or newer (.gp)</td>
              <td><a href="https://ouo.io/9huKmr" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>Guitar Pro 6 (.gpx)</td>
              <td><a href="https://ouo.io/qOiVx1" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
        this.page.url = 'https://kagi-music.github.io/bang_dream/roselia/song_i_am';
        this.page.identifier = 'roselia_song_i_am';
        };
      
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://kagi-music.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {% include sidebar.html %}
  </div>
  <img id="character" class="character bandori" src="#">
  <script>
    var img = [
      "https://i.bandori.party/u/cos/chibi/2234u-cos-chibi-tiny-2234u-cos-chibi-vAsBiQYukina-Minato-Power-chibi-0NKTjr-p-HS6oJj.png",
      "https://i.bandori.party/u/cos/chibi/2239u-cos-chibi-tiny-2239u-cos-chibi-Elal6YSayo-Hikawa-Power-chibi-Kq4ojw-png-Vl81nZ.png",
      "https://i.bandori.party/u/cos/chibi/2225u-cos-chibi-tiny-2225u-cos-chibi-URHc3TLisa-Imai-Cool-chibi-hrNCgw-png-p9-PazuE2.png",
      "https://i.bandori.party/u/cos/chibi/2229u-cos-chibi-tiny-2229u-cos-chibi-Vix5ZRAko-Udagawa-Cool-chibi-8M4Epu-png--7tM4ZL.png",
      "https://i.bandori.party/u/cos/chibi/2231u-cos-chibi-tiny-2231u-cos-chibi-bAdEBHRinko-Shirokane-Power-chibi-qKHkfD-JSQyvG.png"
    ]
  </script>
  {% include footer.html %}
</body>
</html>