---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daylight -デイライト- | KAGI 鍵</title>
  <meta name="description" content="Morfonica 「Daylight -デイライト-」 Guitar Tab.">
  {% include head.html %}
</head>
<body class="song">
  {% include header.html %}
  <div class="container">
    <div class="main morfonica">
      <div class="title">Daylight -デイライト-</div>
      <div class="jacket"><img src="https://s3-ap-northeast-1.amazonaws.com/bang-dream-portal/e5f83146-b584-438e-bd52-fe7aeba99808.jpg" alt="Daylight -デイライト-"></div>
      <div class="song-writer">
        <div>Lyrics: Oda Asuka (Elements Garden)</div>
        <div>Composer: Agematsu Noriyasu (Elements Garden)</div>
        <div>Arrangement: Fujita Junpei (Elements Garden)</div>
      </div>
      <div class="download">
        <div>
          <table class="download-btn">
            <tr>
              <td><div class="download-text">Download</div></td>
              <td><div id="arrow" class="arrow"><i class="fas fa-caret-down"></i></div></td>
            </tr>
          </table>
        </div>
        <div>
          <table id="download-list" class="download-list">
            <tr>
              <td>Guitar Pro 7 or newer (.gp)</td>
              <td><a href="https://ouo.io/IQNdl6"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>Guitar Pro 6 (.gpx)</td>
              <td><a href="https://ouo.io/CsQEXKC"><i class="fas fa-download"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% include sidebar.html %}
  </div>
  <img id="character" class="character bandori" src="#">
  <script>
    var img = [
      "https://i.bandori.party/u/cos/chibi/2304u-cos-chibi-tiny-2304u-cos-chibi-Q7YMGAMashiro-Kurata-cos-chibi-x74Wn3-pn-H6O5fR.png",
      "https://i.bandori.party/u/cos/chibi/2307u-cos-chibi-tiny-2307u-cos-chibi-6cYuBQTouko-Kirigaya-cos-chibi-6WifQ2-pn-DjugDP.png",
      "https://i.bandori.party/u/cos/chibi/2314u-cos-chibi-tiny-2314u-cos-chibi-HJy76YNanami-Hiromachi-cos-chibi-94yRE5--Rc52RC.png",
      "https://i.bandori.party/u/cos/chibi/2317u-cos-chibi-tiny-2317u-cos-chibi-wlM5j8Tsukushi-Futaba-cos-chibi-H4A3pM-p-gcZb2Q.png",
      "https://i.bandori.party/u/cos/chibi/2312u-cos-chibi-tiny-2312u-cos-chibi-NCaqQ4Rui-Yashio-cos-chibi-8FXWuZ-png-Wv-UbSiMZ.png"
    ]
  </script>
  {% include footer.html %}
</body>
</html>