---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>光るなら | KAGI 鍵</title>
  <meta name="description" content="Poppin'Party 「光るなら」 Guitar Tab.">
  {% include head.html %}
</head>
<body class="song">
  {% include header.html %}
  <div class="container">
    <div class="main poppin-party">
      <div class="title"><ruby>光るなら<rt>Hikaru Nara</rt></ruby></div>
      <div class="jacket"><img src="https://i.bandori.party/u/s/19Hikaru-Nara-NC49n8.png" alt="光るなら"></div>
      <div class="song-writer">
        <div class="en">
          <div>Lyrics: Goose house</div>
          <div>Composer: Goose house</div>
          <div>Arrangement: Tomaru Ryouta (Elements Garden) / Kanozo</div>
        </div>
        <div class="jp">
          <div>作詞 : Goose house</div>
          <div>作曲 : Goose house</div>
          <div>編曲 : 都丸椋太（Elements Garden）／加納望</div>
        </div>
      </div>
      <div class="download">
        <div>
          <table class="download-btn">
            <tr>
              <td><div class="download-text">Download</div></td>
              <td><div id="arrow" class="arrow"><i class="fas fa-caret-down"></i></div></td>
            </tr>
          </table>
        </div>
        <div>
          <table id="download-list" class="download-list">
            <tr>
              <td>Guitar Pro 7 or newer (.gp)</td>
              <td><a href="https://ouo.io/JcpmWS" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>Guitar Pro 6 (.gpx)</td>
              <td><a href="https://ouo.io/sPv0uQ" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
        this.page.url = 'https://kagi-music.github.io/bang_dream/poppin_party/hikaru_nara';
        this.page.identifier = 'poppin_party_hikaru_nara';
        };
      
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://kagi-music.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {% include sidebar.html %}
  </div>
  <img id="character" class="character bandori" src="#">
  {% include footer.html %}
  <script>
    var img = [
      "https://i.bandori.party/u/images/Kasumi-Toyama-Power-chibi.YfxFAe.png",
      "https://i.bandori.party/u/images/Tae-Hanazono-Happy-chibi.7DQLvY.png",
      "https://i.bandori.party/u/images/Rimi-Ushigome-Pure-chibi.Zg8QoL.png",
      "https://i.bandori.party/u/images/Saaya-Yamabuki-Happy-chibi.LNg6X9.png",
      "https://i.bandori.party/u/images/Arisa-Ichigaya-Cool-chibi.ZhPHyG.png"
    ]
  </script>
  <script src="/assets/js/song.js"></script>
</body>
</html>