---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Live! | KAGI 鍵</title>
  <meta name="description" content="Love Live! Guitar Tab.">
  {% include head.html %}
</head>
<body class="love-live">
  {% include header.html %}
  <div class="container">
    <div class="main">
      <div class="title">Love Live!</div>
      Press Ctrl + F to find a song.
      <div class="otonokizaka">
        <div class="group">μ's</div>
        <div class="main-unit">
          <h4>Main Unit</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>Sub Unit</h4>
          <li>N/A</li>
        </div>
        <div class="member">
          <h4>Member</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="uranohoshi">
        <div class="group">Aqours</div>
        <div class="main-unit">
          <h4>Main Unit</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>Sub Unit</h4>
          <li class="guilty-kiss"><a href="guilty_kiss/strawberry_trapper">Strawberry Trapper</a></li>
        </div>
        <div class="member">
          <h4>Member</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="nijigasaki">
        <div class="group">虹ヶ咲学園スクールアイドル同好会</div>
        <div class="main-unit">
          <h4>Main Unit</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>Sub Unit</h4>
          <li class="azuna"><a href="azuna/maze_town">Maze Town</a></li>
        </div>
        <div class="member">
          <h4>Member</h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="yuigaoka">
        <div class="group">Liella!</div>
        <div class="main-unit">
          <h4>Main Unit</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>Sub Unit</h4>
          <li>N/A</li>
        </div>
        <div class="member">
          <h4>Member</h4>
          <li>N/A</li>
        </div>
      </div>
    </div>
    {% include sidebar.html %}
  </div>
  {% include footer.html %}
</body>
</html>