---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Live! | KAGI 鍵</title>
  <meta name="description" content="Love Live! unit list.">
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
    <header>
      <a href="."><img src="/assets/images/lovelive.png" class="responsive" style="max-width: 300px;"></a>
    </header>
    <div class="content">
      <div class="main">
        <div class="area">
          <div class="group">
            <div class="club">μ's</div>
            <br>
            <div class="unit">- Main Unit -</div>
            <div class="main-unit"><img src="/assets/images/μ-s.png" class="lovelive responsive" style="max-width: 150px;"></div>
            <div class="unit">- Sub Unit -</div>
            <div class="grid-ll">
              <div class="item">
                <img src="/assets/images/Printemps.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
              <div class="item">
                <img src="/assets/images/Lily-White.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
              <div class="item">
                <img src="/assets/images/BiBi.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
            </div>
          </div>
          <div class="group">
            <div class="club">Aqours</div>
            <br>
            <div class="unit">- Main Unit -</div>
            <div class="main-unit"><img src="/assets/images/Aqours.png" class="lovelive responsive" style="max-width: 150px;"></div>
            <div class="unit">- Sub Unit -</div>
            <div class="grid-ll">
              <div class="item">
                  <img src="/assets/images/CYaRon.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
              <div class="item">
                  <img src="/assets/images/AZALEA.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
              <div class="item">
                <a href="guilty_kiss">
                  <img src="/assets/images/Guilty-Kiss.png" class="lovelive responsive" style="max-width: 150px;">
                </a>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="club">Nijigasaki High School Idol Club</div>
            <br>
            <div class="unit">- Main Unit -</div>
            <div class="main-unit"><img src="/assets/images/Nijigasaki-High-School-ja.png" class="lovelive responsive" style="max-width: 150px;"></div>
            <div class="unit">- Sub Unit -</div>
            <div class="grid-ll">
              <div class="item">
                <img src="/assets/images/DiverDiva.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
              <div class="item">
                  <img src="/assets/images/A-Zu-Na.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
              <div class="item">
                  <img src="/assets/images/QU4RTZ.png" class="lovelive responsive" style="max-width: 150px;">
              </div>
            </div>
            <div class="unit">- Member -</div>
            <div class="nijigasaki">
              <div class="item niji-member">
                <img src="/assets/images/face_01_1-1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_02_1-1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_03_1-1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_04_1-1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_05_1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_06_1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_07_1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_08_1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_09_1.png" class="lovelive responsive">
              </div>
              <div class="item niji-member">
                  <img src="/assets/images/face_10_1.png" class="lovelive responsive">
              </div>
            </div>
          </div>
          <div class="group">
            <div class="club">Other</div>
            <br>
            <div style="text-align: center;"><img src="/assets/images/Saint-Snow.png" class="lovelive responsive" style="max-width: 150px;"></div>
          </div>
        </div>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>