---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Live! | KAGI 鍵</title>
  <meta name="description" content="Love Live! Guitar Tab.">
  {% include head.html %}
</head>
<body class="love-live">
  {% include header.html %}
  <div class="song-list-container">
    <h2><div class="en">Love Live!</div><div class="jp">ラブライブ！</div></h2>
    <div class="love-live-song-list">
      <div class="otonokizaka">
        <div class="group"><div class="en">Otonokizaka High School</div><div class="jp">国立音ノ木坂学院</div></div>
        <div class="unit">
          <h4>µ's</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>Printemps</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>Lily White</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>BiBi</h4>
          <li>N/A</li>
        </div>
        <div class="solo">
          <h4><div class="en">Solo</div><div class="jp">ソロ</div></h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="uranohoshi">
        <div class="group"><div class="en">Uranohoshi Girls' High School</div><div class="jp">浦の星女学院</div></div>
        <div class="unit">
          <h4>Aqours</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>CYaRon!</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>AZALEA</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>Guilty Kiss</h4>
          <li><a href="guilty_kiss/strawberry_trapper">Strawberry Trapper</a></li>
        </div>
        <div class="solo">
          <h4><div class="en">Solo</div><div class="jp">ソロ</div></h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="nijigasaki">
        <div class="group"><div class="en">Nijigasaki High School</div><div class="jp">虹ヶ咲学園</div></div>
        <div class="unit">
          <h4><div class="en">Nijigasaki High School Idol Club</div><div class="jp">虹ヶ咲学園スクールアイドル同好会</div></h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>DiverDiva</h4>
          <li>N/A</li>
        </div>
        <div class="sub-unit">
          <h4>A・ZU・NA</h4>
          <li><a href="azuna/maze_town">Maze Town</a></li>
        </div>
        <div class="sub-unit">
          <h4>QU4RTZ</h4>
          <li>N/A</li>
        </div>
        <div class="solo">
          <h4><div class="en">Solo</div><div class="jp">ソロ</div></h4>
          <li>N/A</li>
        </div>
      </div>
      <div class="yuigaoka">
        <div class="group"><div class="en">Yuigaoka Girls' High School</div><div class="jp">結ヶ丘女子高等学校</div></div>
        <div class="unit">
          <h4>Liella!</h4>
          <li>N/A</li>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>