---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Migikata no Chou | KAGI 鍵</title>
  <meta name="description" content="Roselia「右肩の蝶」guitar tab.">
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
		<header>
			<a href=".."><img src="/assets/images/logo_roselia.png" class="responsive" style="max-width: 150px;"></a>
		</header>
		<div class="content">
      <div class="main roselia">
        <div class="area">
          <div class="song-title roselia"><a href=".">右肩の蝶</a></div>
          <div class="song-title-romaji">Migikata no Chou</div>
          <div class="song-cover"><img src="https://i.bandori.party/u/s/277Migikata-no-Chou-R5vPIB.png" class="responsive" style="max-width: 200px;"></div>
          <div class="songwriter">
            <div>Lyrics: Nori-P</div>
            <div>Composer: Mizuno Yura</div>
            <div>Arrangement: Hidaka Yuki (Elements Garden)</div>
          </div>
          <div class="download roselia">
            <button class="downloadbtn" onclick="Download()">Download</button>
            <div id="DownloadContent" class="content">
              <a href="https://ouo.io/zBPJBY" target="_blank">GP</a>
              <a href="https://ouo.io/sMXhpG" target="_blank">GPX</a>
              <a href="https://ouo.io/17DIv0" target="_blank">PDF</a>
            </div>
          </div>
          <p>Please consider to read the <a href="/faq">FAQ</a> before asking a question.</p>
          <blockquote>EDIT FOR YOURSELF IS OK, BUT DON'T REUPLOAD IT ANYWHERE, PLEASE APPRECIATE MY EFFORT!</blockquote>
        </div>
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
          this.page.url = 'https://kagi-music.github.io/bang_dream/roselia/migikata_no_chou/index.html';
          this.page.identifier = 'roselia_migikatanochou';
          };
            
          (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://kagi-ongaku.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      {% include sidebar.html %}
		</div>
	</div>
  {% include footer.html %}
  <div id="character" class="character"></div>
  <script>
    var img = [
      "https://i.bandori.party/u/cos/chibi/2701u-cos-chibi-tiny-2701u-cos-chibi-EEzeg6Yukina-Minato-cos-chibi-mUP6qh-png-10DlBk.png",
      "https://i.bandori.party/u/cos/chibi/2713u-cos-chibi-tiny-2713u-cos-chibi-kz93FLSayo-Hikawa-cos-chibi-mYnNS8-png-0-aIINgg.png",
      "https://i.bandori.party/u/cos/chibi/2704u-cos-chibi-tiny-2704u-cos-chibi-vVlHRqLisa-Imai-cos-chibi-h3blQO-png-5hp-EIHBFk.png",
      "https://i.bandori.party/u/cos/chibi/2706u-cos-chibi-tiny-2706u-cos-chibi-sfCaa7Ako-Udagawa-cos-chibi-2E64Te-png-8-YlwYq0.png",
      "https://i.bandori.party/u/cos/chibi/2710u-cos-chibi-tiny-2710u-cos-chibi-ysCeUzRinko-Shirokane-cos-chibi-MD43nQ-p-bLZVB6.png",
    ]

    var chara = document.getElementById("character");

    function Character(num) {
      var num = Math.floor(Math.random() * 5);
      chara.style.backgroundImage = 'url("' + img[num] +'")';
      chara.style.backgroundSize = 'auto 200px';
      chara.style.backgroundAttachment = 'fixed';
      chara.style.backgroundRepeat = 'no-repeat';
      chara.style.backgroundPosition = '100% 100%';
    }

    Character();
  </script>
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>