---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><ruby>右肩の蝶 | KAGI 鍵</title>
  <meta name="description" content="Roselia 「右肩の蝶」 Guitar Tab.">
  {% include head.html %}
</head>
<body class="song">
  {% include header.html %}
  <div class="container">
    <div class="main roselia">
      <div class="title"><ruby>右肩の蝶<rt>Migikata no Chou</rt></ruby></div>
      <div class="jacket"><img src="https://i.bandori.party/u/s/277Migikata-no-Chou-R5vPIB.png" alt="右肩の蝶"></div>
      <div class="song-writer">
        <div>Lyrics: Mizuno Yura</div>
        <div>Composer: Nori-P</div>
        <div>Arrangement: Hidaka Yuki (Elements Garden)</div>
      </div>
      <div class="download">
        <div>
          <table class="download-btn">
            <tr>
              <td><div class="download-text">Download</div></td>
              <td><div id="arrow" class="arrow"><i class="fas fa-caret-down"></i></div></td>
            </tr>
          </table>
        </div>
        <div>
          <table id="download-list" class="download-list">
            <tr>
              <td>Guitar Pro 7 or newer (.gp)</td>
              <td><a href="https://ouo.io/zBPJBY" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>Guitar Pro 6 (.gpx)</td>
              <td><a href="https://ouo.io/sMXhpG" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
            <tr>
              <td>PDF</td>
              <td><a href="https://ouo.io/17DIv0" target="_blank"><i class="fas fa-download"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% include sidebar.html %}
  </div>
  <img id="character" class="character bandori" src="#">
  <script>
    var img = [
      "https://i.bandori.party/u/cos/chibi/2701u-cos-chibi-tiny-2701u-cos-chibi-EEzeg6Yukina-Minato-cos-chibi-mUP6qh-png-10DlBk.png",
      "https://i.bandori.party/u/cos/chibi/2713u-cos-chibi-tiny-2713u-cos-chibi-kz93FLSayo-Hikawa-cos-chibi-mYnNS8-png-0-aIINgg.png",
      "https://i.bandori.party/u/cos/chibi/2704u-cos-chibi-tiny-2704u-cos-chibi-vVlHRqLisa-Imai-cos-chibi-h3blQO-png-5hp-EIHBFk.png",
      "https://i.bandori.party/u/cos/chibi/2706u-cos-chibi-tiny-2706u-cos-chibi-sfCaa7Ako-Udagawa-cos-chibi-2E64Te-png-8-YlwYq0.png",
      "https://i.bandori.party/u/cos/chibi/2710u-cos-chibi-tiny-2710u-cos-chibi-ysCeUzRinko-Shirokane-cos-chibi-MD43nQ-p-bLZVB6.png"
    ]
  </script>
  {% include footer.html %}
</body>
</html>