---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guilty Kiss | KAGI 鍵</title>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <div class="wrapper">
    <header>
      <a href="../Guilty_Kiss"><img src="/assets/images/Love_Live!/guilty_kiss_logo.png"></a>
    </header>
    <div class="content">
      <div class="main">
        <div class="box">
          <span class="centerimg"><img src="/assets/images/Love_Live!/guilty_kiss.png" class="unit responsive"></span>
          <div class="song-list guilty-kiss">
            <ul>
              <li><a href="Strawberry_Trapper">Strawberry Trapper</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
  <div class="bg" id="bg"><script src="/assets/js/bg_guilty-kiss.js"></script></div>
  {% include footer.html %}
  <button class="back-to-top" id="topbtn"><i class="fas fa-angle-up"></i></button>
  <script src="/assets/js/script.js"></script>
</body>
</html>