<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body {% if page.category -%}
  class="{{ page.category }}"
{%- endif %}>
  {% include preloader.html %}
  {% include header.html %}
  {% if page.url == "/" %}
    <main class="latest-update-container" role="main">
      {{ content }}
    </main>
  {% else %}
  <div class="container">
    <main role="main">
      {{ content }}
    </main>
    {% include sidebar.html %}
  </div>
  {% endif %}
  {% include footer.html %}
  <script src="/assets/js/script.min.js"></script>
  {% if page.url != "/" %}
    <script src="/assets/js/main.min.js"></script>
  {% endif %}
</body>
</html>